html
head
body

  img(class="home_image" src='photo2.jpeg' alt='Hotel photo')

  link(rel="stylesheet" type="text/css" href="/style.css")
  div(class="bar") 
    a(class="btn" href="http://localhost:8080/") DeForest Hotel
    a(class="btn" href="http://localhost:8080/booking") Заказы
    a(class="btn" href="http://localhost:8080/resident") Постояльцы
    a(class="btn" href="http://localhost:8080/apartament") Номера
    a(class="btn" href="http://localhost:8080/bkg_full") Заказы полная информация
    a(class="btn" href="http://localhost:8080/cleening") Уборки

  div(class="footer") 
    h4(class="text_footer") copyright Ushakov V.V. 2023 
